pm_password: 
repo_password: 
bm_ks_password: 
phys_host_password: 
{% if storage_type == 'unity' %}
unity_password: 
{% endif %}
{% if storage_type == 'powerflex' %}
powerflex_password: 
{% endif %}
{% if storage_type == '3par' %}
hpe3par_password: 
{% endif %}
{% if nas_type == 'powerstore' %}
powerstore_password: 
{% endif %}
{% if storage_type == 'ceph' %}
ome_password:
{% endif %}