variable "floating_ip_id" {
  type = string
}

source "openstack" "ccd_client" {
  flavor                  = "{{ flavor.name }}"
  image_name              = "{{ output_image }}"
  networks                = [ "{{ internal_net.network.id }}" ]
  floating_ip_network     = "{{ floating_network }}"
  floating_ip             = "${var.floating_ip_id}"
  source_image            = "{{ baseimage_info.openstack_image.id }}"
  security_groups         = ["ccd_client_security_group"]
  ssh_username            = "{{ user }}"
  cloud                   = "devstack"
}

build {
  sources = ["source.openstack.ccd_client"]

  provisioner "ansible" {
    host_alias    = "ccd_client_builder"
    playbook_file = "./configure_ccd_client.yml"
    extra_arguments = [ "--extra-vars", "cenm_build_password={{cenm_build_password}} bmadm_password={{bmadm_password}}" ]
    user = "{{ user }}"
  }

}
