backports.ssl-match-hostname==3.5.0.1
certifi==2020.12.5
cffi==1.6.0
chardet==4.0.0
configobj==4.7.2
cryptography==1.7.2
decorator==3.4.0
dnspython==1.16.0
enum34==1.0.4
eventlet==0.30.0
futures==3.1.1
greenlet==1.0.0
hpe3par-sdk==1.2.1
idna==2.10
iniparse==0.4
iotop==0.6
ipaddress==1.0.16
javapackages==1.0.0
kitchen==1.1.1
langtable==0.0.31
lxml==3.2.1
monotonic==1.5
paramiko==2.1.1
perf==0.1
pexpect
ply==3.4
pyasn1==0.1.9
pycparser==2.14
pycurl==7.19.0
pygobject==3.22.0
pygpgme==0.3
pyliblzma==0.5.3
python-3parclient==4.2.11
python-augeas==0.5.0
python-hpilo==4.4.2
python-linux-procfs==0.4.9
pytz==2016.10
pyudev==0.15
pyxattr==0.5.1
PyYAML==3.10
requests==2.25.1
schedutils==0.4
six==1.15.0
slip==0.4.0
slip.dbus==0.4.0
urlgrabber==3.10
urllib3==1.26.2
yum-langpacks==0.4.2
yum-metadata-parser==1.1.4
