#jinja2: lstrip_blocks: "True", trim_blocks: "True"
version: 2
ethernets:
  ens3:
    match:
      name: ens3
    dhcp4: false
    addresses:
      - {{ dhcp_next_server }}/{{ provisioning_cidr }}
    gateway4: {{ provisioning_gateway }}
    nameservers:
      search: 
        - athtem.eei.ericsson.se
        - ericsson.se
      addresses:
        {% for dns in dns_servers %}
        - {{ dns }}
        {% endfor %}
