{
  "ieatbm7216": {
    "driver_info":{
      "ipmi_username": "cloud",
      "ipmi_address": "10.232.179.111",
      "ipmi_password": "cl0udroot"
    },
    "nics": [
      {
      "mac": "8C:DC:D4:1C:81:40"
      }
    ],
    "driver": "ipmi",
    "ipv4_address": "10.232.238.200",
    "name": "ieatbm7216"
  },
  "ieatbm7217": {
    "driver_info":{
      "ipmi_username": "cloud",
      "ipmi_address": "10.232.179.112",
      "ipmi_password": "cl0udroot"
    },
    "nics": [
      {
      "mac": "58:20:B1:E5:72:90"
      }
    ],
    "driver": "ipmi",
    "ipv4_address": "10.232.238.201",
    "name": "ieatbm7217"
  }
}
