#jinja2: lstrip_blocks: "True", trim_blocks: "True"
apiVersion: v1
kind: Secret
metadata:
  name: {{ storage_backend }}
  namespace: {{ storage_namespace }}
stringData:
  serviceName: primera3par-csp-svc
  servicePort: "8080"
  backend: {{ lookup('dig', '{{ hpe3par_ip }}') }}
  username: {{ hpe3par_user }}
  password: {{ hpe3par_password }}