#jinja2: lstrip_blocks: "True", trim_blocks: "True"
arrays:
  - endpoint: "https://{{ powerstore_ip }}/api/rest"
    globalID: "{{ powerstore_system_id }}"
    username: "{{ powerstore_user }}"
    password: "{{ powerstore_password }}"
    skipCertificateValidation: true
    isDefault: false
    blockProtocol: "None"
    nasName: "{{ nas_server_name }}"