apiVersion: v1
data:
  config: {{ ['[{
     "username": "', powerflex_user, '",
     "password": "', powerflex_password, '" ,
     "endpoint": "https://', powerflex_host, '",
     "systemID": "', powerflex_serial, '",
     "insecure": true,
     "isDefault": true,
     "mdm": "', powerflex_mdm_ip, '"
   }]']| join | b64encode }}

kind: Secret
metadata:
  name: powerflex-config
  namespace: powerflex
 