#jinja2: lstrip_blocks: "True", trim_blocks: "True"
storageArrayList:
  - username: {{unity_user}}
    password:  {{ unity_password }} 
    endpoint: "https://{{ unity_host }}"
    arrayId:  {{ unity_serial }}
    skipCertificateValidation: true
    isDefault: true
